In [68]:
import pandas as pd

In [69]:
car = pd.read_csv('quikr_car.csv')

In [70]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [71]:
car.shape

(892, 6)

In [72]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [73]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [74]:
backup = car.copy()

In [75]:
car['year'].str.isnumeric()

0       True
1       True
2       True
3       True
4       True
       ...
887    False
888     True
889     True
890     True
891     True
Name: year, Length: 892, dtype: bool

In [76]:
car=car[car['year'].str.isnumeric()]

In [77]:
car['year']=car['year'].astype(int)

In [78]:
car['year'].unique()

array([2007, 2006, 2018, 2014, 2015, 2012, 2013, 2016, 2010, 2017, 2008,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001])

In [79]:
car.sort_values(["year"], 
                    axis=0,
                    ascending=[True], 
                    inplace=True)

In [80]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 768 to 762
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [81]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
768,Hindustan Motors Ambassador Classic Mark 4 – Befo,Hindustan,1995,"7,50,000","37,000 kms",Petrol
389,Maruti Suzuki Maruti 800 Std – Befo,Maruti,1995,"30,000","55,000 kms",Petrol
547,Hyundai Santro,Hyundai,2000,"51,999","88,000 kms",Petrol
192,Maruti Suzuki Zen VX,Maruti,2000,"55,000","60,000 kms",Petrol
851,Maruti Suzuki 800 Std BS III,Maruti,2000,"30,000","33,400 kms",Petrol

In [82]:
car=backup

In [83]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [84]:
car=car[car['year'].str.isnumeric()]

In [85]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [86]:
car.info(
)

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    object
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 46.0+ KB

In [87]:
car=car[car['Price']!="Ask For Price"]

In [88]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [89]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [90]:
car['Price'].str.replace(',' , '')

0       80000
1      425000
3      325000
4      575000
6      175000
        ...
886    300000
888    260000
889    390000
890    180000
891    160000
Name: Price, Length: 819, dtype: object

In [91]:
car['Price']=car['Price'].str.replace(',' , '')

In [92]:
car['Price'] =car['Price'].astype(int)

In [93]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    object
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(1), object(5)
memory usage: 44.8+ KB

In [94]:
car['year'] = car['year'].astype(int)

In [95]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [96]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [97]:
car = car[car['kms_driven'].str.isnumeric()]

In [98]:
car['kms_driven'] = car['kms_driven'].astype(int)

In [99]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [100]:
car = car[~car['fuel_type'].isna()]

In [101]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [102]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [103]:
car.reset_index(drop=True)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
3,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
811,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
812,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
813,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
814,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
815,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [104]:
car=car[car['Price']<6e6]

In [105]:
car.reset_index(drop=True)

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
3,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
810,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
811,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
812,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
814,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [106]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
6,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
883,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
885,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
886,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [107]:
car.to_csv('cleaned_car.csv')

In [108]:
car = car.reset_index(drop=True)

In [109]:
car.to_csv('cleaned_car.csv' , index=False)

In [110]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,45000,Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40,Diesel
2,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,28000,Petrol
3,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,36000,Diesel
4,Ford Figo,Ford,2012,175000,41000,Diesel
...,...,...,...,...,...,...
810,Maruti Suzuki Ritz VXI ABS,Maruti,2011,270000,50000,Petrol
811,Tata Indica V2 DLE BS III,Tata,2009,110000,30000,Diesel
812,Toyota Corolla Altis,Toyota,2009,300000,132000,Petrol
813,Tata Zest XM Diesel,Tata,2018,260000,27000,Diesel
814,Mahindra Quanto C8,Mahindra,2013,390000,40000,Diesel

In [111]:
x = car.drop(columns= 'Price')
y = car['Price']

In [112]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
810    270000
811    110000
812    300000
813    260000
814    390000
Name: Price, Length: 815, dtype: int64

In [113]:
pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sklearn in /home/shivraj/.local/lib/python3.10/site-packages (0.0.post7)
Note: you may need to restart the kernel to use updated packages.

In [114]:
pip install -U scikit-learn scipy matplotlib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/shivraj/.local/lib/python3.10/site-packages (1.3.0)
Requirement already satisfied: scipy in /home/shivraj/.local/lib/python3.10/site-packages (1.11.1)
Requirement already satisfied: matplotlib in /home/shivraj/.local/lib/python3.10/site-packages (3.7.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/shivraj/.local/lib/python3.10/site-packages (from scikit-learn) (3.2.0)
Requirement already satisfied: joblib>=1.1.1 in /home/shivraj/.local/lib/python3.10/site-packages (from scikit-learn) (1.3.1)
Requirement already satisfied: numpy>=1.17.3 in /home/shivraj/.local/lib/python3.10/site-packages (from scikit-learn) (1.25.2)
Requirement already satisfied: python-dateutil>=2.7 in /home/shivraj/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /home/shivraj/.local/lib/python3.10/site-packages (from matplotlib) (1.1.0)
Requirement already satisfied: packaging>=20.0 in /home/shivraj/.local/lib/python3.10/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: fonttools>=4.22.0 in /home/shivraj/.local/lib/python3.10/site-packages (from matplotlib) (4.42.0)
Requirement already satisfied: cycler>=0.10 in /home/shivraj/.local/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: pillow>=6.2.0 in /home/shivraj/.local/lib/python3.10/site-packages (from matplotlib) (10.0.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/shivraj/.local/lib/python3.10/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [115]:
X=car[['name','company','year','kms_driven','fuel_type']]
y=car['Price']

In [116]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [117]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
import numpy as np

In [118]:
ohe=OneHotEncoder(sparse=False, handle_unknown='ignore')
ohe.fit(X[['name','company','fuel_type']])

/home/shivraj/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

OneHotEncoder(handle_unknown='ignore', sparse=False, sparse_output=False)

In [119]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),
                                    remainder='passthrough')

In [120]:
lr = LinearRegression()

In [121]:
pipe = make_pipeline(column_trans , lr)

In [122]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet 40 TFSI',
       'Audi A4 1.8 TFSI Multitronic Premium Plus',
       'Audi A4 2.0 TDI 177bhp Premium', 'Audi A6 2.0 TDI Premium',
       'Audi A8', 'Audi Q3 2.0 TDI quattro Premium',
       'Audi Q5 2.0 TDI quattro Premium Plus', 'Audi Q7',
       'BMW 3 Series 320d...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [123]:
y_pred=pipe.predict(X_test)

In [124]:
y_pred

array([ 1.97757650e+05,  6.05177858e+05,  2.07558208e+05,  4.01288019e+05,
        3.25638875e+05,  1.82556906e+05,  4.32373499e+05,  4.72280342e+05,
        8.52815191e+05,  2.15124016e+05,  6.08829716e+04,  1.08049421e+06,
        4.17081520e+05,  2.27462037e+05,  1.01015271e+06,  3.60557316e+05,
        4.37375910e+05,  7.15246411e+03,  3.18707072e+05,  5.13983503e+05,
        3.38738098e+05,  3.08798873e+04,  2.34943387e+04,  4.09949560e+05,
        5.92519920e+05,  5.03643439e+05,  1.16873721e+05, -1.42234625e+04,
        7.02313611e+05,  3.28107179e+05,  3.31020437e+05,  8.18964093e+04,
        4.42836722e+05,  1.71932613e+06,  2.75048098e+05,  5.34604864e+05,
        2.68297175e+05,  4.14923222e+05,  5.37744957e+05,  1.32491730e+05,
        3.90459843e+05,  3.75074294e+05,  5.94330938e+05,  2.69528223e+05,
        3.93606333e+02,  3.80266182e+05,  7.38733413e+05,  3.98823994e+05,
        7.94505457e+05,  2.72990104e+05,  2.22033605e+05,  2.15838550e+04,
        1.66628474e+06,  1.22001038e+04,  4.28472287e+05,  3.45558277e+05,
        1.02878713e+05, -2.64955916e+03,  4.62886715e+05,  1.37574985e+05,
        4.94015858e+05,  2.00278620e+05,  6.27596863e+05,  3.39224091e+05,
        4.16413653e+05,  2.36622874e+05,  2.43230599e+05,  5.40071733e+05,
        3.74527195e+05,  1.67596893e+06,  2.88461372e+03,  4.09399145e+05,
        2.92001961e+05,  2.32660836e+05,  4.43626915e+05,  4.79656078e+05,
        6.43661416e+04,  4.81733487e+05, -1.09505370e+05,  2.86577392e+05,
        1.61067480e+05,  3.99075078e+05,  3.62325741e+05,  4.04736999e+05,
        5.80720318e+05,  3.53858484e+04,  8.17564393e+04,  2.03999157e+05,
        1.41858588e+06,  1.82203264e+05,  5.12025437e+05,  4.90322394e+05,
        2.94118652e+05,  2.19435086e+05,  2.57580620e+05,  2.80668499e+05,
        2.59637126e+05,  1.87283164e+05,  3.33723839e+05,  1.06202718e+06,
        4.05084751e+04,  2.42191600e+05,  2.48604425e+05,  3.89292448e+05,
        1.23986979e+06,  4.53017887e+05,  4.97079857e+05,  6.66274943e+05,
        3.04705546e+05,  6.51052838e+05,  4.99419525e+05,  7.29396085e+05,
        1.15717255e+05,  5.61387091e+05,  3.52641548e+05,  4.47792287e+05,
        2.81471413e+05,  3.81964807e+05,  2.09412530e+05,  8.30265612e+05,
        6.26829116e+05,  6.42207054e+05, -1.13030897e+05,  4.46328735e+05,
        1.84731202e+05,  8.22509249e+04,  5.46245419e+05,  2.78561608e+05,
        3.35200234e+05,  5.32597361e+05, -3.72816438e+04,  2.94173509e+05,
        2.88697643e+05,  4.38717398e+05,  2.46299280e+05,  7.72213366e+05,
        2.71572877e+05,  2.01784306e+05,  1.07324471e+05, -6.48674127e+04,
        3.28289044e+05,  5.15237095e+05,  3.38620902e+05,  3.87617544e+05,
        3.46767242e+05,  3.41705319e+05, -1.36286465e+05,  4.64795765e+05,
        4.73988081e+05,  1.99015322e+05,  1.72223872e+06,  4.37045999e+05,
        6.22454599e+05,  6.97111762e+04,  4.30419942e+05,  1.16188102e+05,
        2.24498363e+06,  7.50962991e+05,  1.10797568e+05,  1.87972729e+05,
        4.34704189e+05,  3.14919755e+05,  4.14428893e+05])

In [125]:
r2_score(y_test , y_pred)

0.5932533834517427

In [126]:
scores =[]
for i in range(10):
    x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans , lr)
    pipe.fit(x_train , y_train)
    y_pred = pipe.predict(x_test)
    scores.append(r2_score(y_test , y_pred))

In [127]:
np.argmax(scores)

4

In [128]:
scores[np.argmax(scores)]

0.7937503706816649

In [129]:

    x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=np.argmax(scores))
    lr = LinearRegression()
    pipe = make_pipeline(column_trans , lr)
    pipe.fit(x_train , y_train)
    y_pred = pipe.predict(x_test)
    r2_score(y_test , y_pred)

0.7937503706816649

In [130]:
pip install pickle-mixin

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pickle-mixin in /home/shivraj/.local/lib/python3.10/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [131]:
import pickle

In [132]:
pickle.dump(pipe,open('LinearRegressionModel.pkl' , 'wb'))

In [133]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift' , 'Maruti' , 2019 , 100 , 'Petrol']] , columns = ['name' , 'company' , 'year' , 'kms_driven' , 'fuel_type']))

array([472260.45172375])