In [1]:
import pandas as pd

In [6]:
car = pd.read_csv('quikr_car.csv')

In [7]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [9]:
car.shape

(892, 6)

In [10]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [11]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [12]:
backup = car.copy()

In [13]:
car['year'].str.isnumeric()

0       True
1       True
2       True
3       True
4       True
       ...
887    False
888     True
889     True
890     True
891     True
Name: year, Length: 892, dtype: bool

In [15]:
car=car[car['year'].str.isnumeric()]

In [16]:
car['year']=car['year'].astype(int)

In [17]:
car['year'].unique()

array([2007, 2006, 2018, 2014, 2015, 2012, 2013, 2016, 2010, 2017, 2008,
       2011, 2019, 2009, 2005, 2000, 2003, 2004, 1995, 2002, 2001])

In [20]:
car.sort_values(["year"], 
                    axis=0,
                    ascending=[True], 
                    inplace=True)

In [21]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 768 to 762
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int64
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int64(1), object(5)
memory usage: 46.0+ KB

In [22]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
768,Hindustan Motors Ambassador Classic Mark 4 – Befo,Hindustan,1995,"7,50,000","37,000 kms",Petrol
389,Maruti Suzuki Maruti 800 Std – Befo,Maruti,1995,"30,000","55,000 kms",Petrol
547,Hyundai Santro,Hyundai,2000,"51,999","88,000 kms",Petrol
192,Maruti Suzuki Zen VX,Maruti,2000,"55,000","60,000 kms",Petrol
851,Maruti Suzuki 800 Std BS III,Maruti,2000,"30,000","33,400 kms",Petrol

In [24]:
car=backup

In [25]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [26]:
car=car[car['year'].str.isnumeric()]

In [27]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [29]:
car.info(
)

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    object
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 46.0+ KB

In [33]:
car=car[car['Price']!="Ask For Price"]

In [34]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [40]:
car['Price'] =car['Price'].astype(int)

In [41]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    object
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(1), object(5)
memory usage: 44.8+ KB

In [43]:
car['year'] = car['year'].astype(int)

In [44]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int64
 3   Price       819 non-null    int64
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int64(2), object(4)
memory usage: 44.8+ KB

In [49]:
car['kms_driven'] = car['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [54]:
car = car[car['kms_driven'].str.isnumeric()

In [58]:
car['kms_driven'] = car['kms_driven'].astype(int)

In [59]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int64
 3   Price       817 non-null    int64
 4   kms_driven  817 non-null    int64
 5   fuel_type   816 non-null    object
dtypes: int64(3), object(3)
memory usage: 44.7+ KB

In [64]:
car = car[~car['fuel_type'].isna()]

In [75]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [77]:
car

,name,company,year,Price,kms_driven,fuel_type
389,Maruti Suzuki Maruti,Maruti,1995,30000,55000,Petrol
768,Hindustan Motors Ambassador,Hindustan,1995,750000,37000,Petrol
834,Maruti Suzuki Omni,Maruti,2000,35999,60000,Petrol
192,Maruti Suzuki Zen,Maruti,2000,55000,60000,Petrol
851,Maruti Suzuki 800,Maruti,2000,30000,33400,Petrol
...,...,...,...,...,...,...
836,Mahindra KUV100 K8,Mahindra,2019,560000,2875,Petrol
364,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
568,Maruti Suzuki Alto,Maruti,2019,265000,9800,Petrol
215,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
427,Nissan X Trail,Nissan,2019,1200000,300,Diesel

In [78]:
car.reset_index(drop=True)

,name,company,year,Price,kms_driven,fuel_type
0,Maruti Suzuki Maruti,Maruti,1995,30000,55000,Petrol
1,Hindustan Motors Ambassador,Hindustan,1995,750000,37000,Petrol
2,Maruti Suzuki Omni,Maruti,2000,35999,60000,Petrol
3,Maruti Suzuki Zen,Maruti,2000,55000,60000,Petrol
4,Maruti Suzuki 800,Maruti,2000,30000,33400,Petrol
...,...,...,...,...,...,...
811,Mahindra KUV100 K8,Mahindra,2019,560000,2875,Petrol
812,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
813,Maruti Suzuki Alto,Maruti,2019,265000,9800,Petrol
814,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
815,Nissan X Trail,Nissan,2019,1200000,300,Diesel

In [82]:
car=car[car['Price']<6e6]

In [83]:
car.reset_index(drop=True)

,name,company,year,Price,kms_driven,fuel_type
0,Maruti Suzuki Maruti,Maruti,1995,30000,55000,Petrol
1,Hindustan Motors Ambassador,Hindustan,1995,750000,37000,Petrol
2,Maruti Suzuki Omni,Maruti,2000,35999,60000,Petrol
3,Maruti Suzuki Zen,Maruti,2000,55000,60000,Petrol
4,Maruti Suzuki 800,Maruti,2000,30000,33400,Petrol
...,...,...,...,...,...,...
810,Mahindra KUV100 K8,Mahindra,2019,560000,2875,Petrol
811,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
812,Maruti Suzuki Alto,Maruti,2019,265000,9800,Petrol
813,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
814,Nissan X Trail,Nissan,2019,1200000,300,Diesel

In [84]:
car

,name,company,year,Price,kms_driven,fuel_type
389,Maruti Suzuki Maruti,Maruti,1995,30000,55000,Petrol
768,Hindustan Motors Ambassador,Hindustan,1995,750000,37000,Petrol
834,Maruti Suzuki Omni,Maruti,2000,35999,60000,Petrol
192,Maruti Suzuki Zen,Maruti,2000,55000,60000,Petrol
851,Maruti Suzuki 800,Maruti,2000,30000,33400,Petrol
...,...,...,...,...,...,...
836,Mahindra KUV100 K8,Mahindra,2019,560000,2875,Petrol
364,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
568,Maruti Suzuki Alto,Maruti,2019,265000,9800,Petrol
215,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
427,Nissan X Trail,Nissan,2019,1200000,300,Diesel

In [85]:
car.to_csv('cleaned_car.csv')

In [87]:
car = car.reset_index(drop=True)

In [88]:
car.to_csv('cleaned_car.csv')

In [89]:
car

,name,company,year,Price,kms_driven,fuel_type
0,Maruti Suzuki Maruti,Maruti,1995,30000,55000,Petrol
1,Hindustan Motors Ambassador,Hindustan,1995,750000,37000,Petrol
2,Maruti Suzuki Omni,Maruti,2000,35999,60000,Petrol
3,Maruti Suzuki Zen,Maruti,2000,55000,60000,Petrol
4,Maruti Suzuki 800,Maruti,2000,30000,33400,Petrol
...,...,...,...,...,...,...
810,Mahindra KUV100 K8,Mahindra,2019,560000,2875,Petrol
811,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
812,Maruti Suzuki Alto,Maruti,2019,265000,9800,Petrol
813,Mahindra Jeep MM,Mahindra,2019,390000,60,Diesel
814,Nissan X Trail,Nissan,2019,1200000,300,Diesel

In [91]:
x = car.drop(columns= 'Price')
y = car['Price']

In [92]:
y

0        30000
1       750000
2        35999
3        55000
4        30000
        ...
810     560000
811     390000
812     265000
813     390000
814    1200000
Name: Price, Length: 815, dtype: int64

In [93]:
pip install sklearn

Defaulting to user installation because normal site-packages is not writeable
Collecting sklearn
  Downloading sklearn-0.0.post7.tar.gz (3.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0.post7-py3-none-any.whl size=2360 sha256=91f3ee0c0b1fa6e00f749961de941cc91af06af643284284c808df7cd3b1e57f
  Stored in directory: /home/shivraj/.cache/pip/wheels/c8/9c/85/72901eb50bc4bc6e3b2629378d172384ea3dfd19759c77fd2c
Successfully built sklearn
Installing collected packages: sklearn
Successfully installed sklearn-0.0.post7
Note: you may need to restart the kernel to use updated packages.

In [96]:
pip install -U scikit-learn scipy matplotlib

Defaulting to user installation because normal site-packages is not writeable
Collecting scikit-learn
  Downloading scikit_learn-1.3.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 1.9 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting scipy
  Downloading scipy-1.11.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.3/36.3 MB 4.7 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Collecting matplotlib
  Downloading matplotlib-3.7.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 3.2 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: numpy>=1.17.3 in ./.local/lib/python3.10/site-packages (from scikit-learn) (1.25.2)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.2.0-py3-none-any.whl (15 kB)
Collecting joblib>=1.1.1
  Downloading joblib-1.3.1-py3-none-any.whl (301 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 302.0/302.0 KB 1.9 MB/s eta 0:00:00[31m2.0 MB/s eta 0:00:01
Requirement already satisfied: pyparsing<3.1,>=2.3.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.42.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 2.4 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Requirement already satisfied: python-dateutil>=2.7 in ./.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 1.7 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting pillow>=6.2.0
  Downloading Pillow-10.0.0-cp310-cp310-manylinux_2_28_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 2.4 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.1.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (300 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 300.7/300.7 KB 2.5 MB/s eta 0:00:00m eta 0:00:010:01
Requirement already satisfied: packaging>=20.0 in ./.local/lib/python3.10/site-packages (from matplotlib) (23.1)
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: threadpoolctl, scipy, pillow, kiwisolver, joblib, fonttools, cycler, contourpy, scikit-learn, matplotlib
Successfully installed contourpy-1.1.0 cycler-0.11.0 fonttools-4.42.0 joblib-1.3.1 kiwisolver-1.4.4 matplotlib-3.7.2 pillow-10.0.0 scikit-learn-1.3.0 scipy-1.11.1 threadpoolctl-3.2.0
Note: you may need to restart the kernel to use updated packages.

In [97]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2)

In [143]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
import numpy as np

In [109]:
ohe = OneHotEncoder()

In [127]:
ohe.fit(x[['name' , 'company' , 'fuel_type']])

OneHotEncoder()

In [128]:
column_trans = make_column_transformer((OneHotEncoder(categories=ohe.categories_) , ['name' , 'company' , 'fuel_type']),
                                      remainder = 'passthrough')

In [129]:
lr = LinearRegression()

In [130]:
pipe = make_pipeline(column_trans , lr)

In [131]:
pipe.fit(x_train , y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [135]:
y_pred = pipe.predict(x_test)

In [137]:
y_pred

array([ 444416.50508293,  258161.96023961,  206683.25092364,
        224497.45870019,   83959.14614639,  110927.70466845,
        555727.60408466,  291430.65360672,  290284.72732381,
       1608874.63128857,  173336.2539527 , 2235681.51868413,
        619901.27093262,  289645.37484367,  403691.43061539,
        453585.43345345,  788782.34812526,  254040.46419216,
        205262.00749704,  270923.78772447,  533705.07576725,
        352237.25947198,  461002.00642286,  159611.88739254,
        525529.47192624,  347806.03115539,  456198.36923265,
         83546.99654164,  226265.59105043,  556412.90686311,
        505294.40185914,  231588.44349439, -120510.85162144,
        172675.44873278,  395044.75692053,   89257.49018828,
        307758.03571136,  459229.71743628,  287629.3317535 ,
        318899.61466718,  387168.00293973,  288414.37724477,
        106558.48187826,  423748.49986816,  345020.09253279,
        819452.71118842,  599669.46627116,  189188.17291197,
        307103.06404416,  593242.35877177,  556059.01153935,
        539333.04976344,   83546.99654164,  254727.40563688,
        368962.41607869,  221350.92441079,  629474.04561713,
        238770.88414631,  334865.48786645,  657703.88391296,
        443008.58506048,   83300.28422221,  644186.39248727,
        463204.91251332,  232806.13671469, 1046717.38009334,
        592188.48594725,  430501.01506837,  302972.13096648,
        364510.41948867,  382297.24925858,  135107.11520701,
        394744.22652978,  228336.63226839,  196515.00581329,
        609211.64577885,  524737.22175451,  251768.81901187,
        201634.19236752,  684490.25231858,  340106.86417874,
        248933.81931143,  476982.85522242, 2235681.51868413,
        205363.54802426,  378668.27366566,  694828.2253487 ,
       1371694.1431153 ,  516759.48939306,  372959.61214975,
        460761.44733927,  166827.26119354,  659875.93195759,
        949435.5982413 ,  224497.45870019,  203694.14203895,
        898586.41226505,  194836.99909321,  391308.90348795,
        375888.56759934, 1461989.23333332,  247274.05401795,
         84823.94351861,  780313.22152802,  470790.16409361,
        248132.37458543,  289744.74846139,  258810.70895623,
        266229.40184165,  382115.25382347,  163001.52227999,
        382297.24925858,  436529.3205918 ,  404789.06877669,
        723798.74967929,  414393.06728134,  -54801.61110748,
        180536.56520692,   59729.85827517,  103386.96922046,
        698550.41920985,  466575.77550904,  207817.029272  ,
        402999.68966895,  327816.38966992,  518908.93782777,
        387168.00293973,  374140.12894867,  122534.42654748,
        653526.32514166,  407690.03886195,  608735.07869348,
        554903.30487517,  789646.78893071,  814081.26816013,
        253903.10642739,  339681.43505659,  452407.5630628 ,
        110805.66210588,  172717.56230102,  577839.23191643,
        292699.55391695,  312410.153883  ,  245314.81910942,
        464520.01430706,  376187.57664674,  132618.40372338,
        773105.90309262,  238136.17237688,  294836.20712661,
        365888.79058173,  411214.83714074,  618758.15589375,
        359938.24889335,  570669.15930475,  509593.72508632,
        -72389.13660141,    4112.85873566,  -62085.39648277,
        257310.91436149,  692383.54871752,  414418.07273582,
        270923.78772447])

In [150]:
r2_score(y_test , y_pred)

0.7608841720953118

In [160]:
scores =[]
for i in range(10):
    x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=i)
    lr = LinearRegression()
    pipe = make_pipeline(column_trans , lr)
    pipe.fit(x_train , y_train)
    y_pred = pipe.predict(x_test)
    scores.append(r2_score(y_test , y_pred))

In [161]:
np.argmax(scores)

9

In [162]:
scores[np.argmax(scores)]

0.7608841720953118

In [164]:

    x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.2 , random_state=np.argmax(scores))
    lr = LinearRegression()
    pipe = make_pipeline(column_trans , lr)
    pipe.fit(x_train , y_train)
    y_pred = pipe.predict(x_test)
    r2_score(y_test , y_pred)

0.7608841720953118

In [171]:
pip install pickle-mixin

Defaulting to user installation because normal site-packages is not writeable
Collecting pickle-mixin
  Downloading pickle-mixin-1.0.2.tar.gz (5.1 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: pickle-mixin
  Building wheel for pickle-mixin (setup.py) ... done
  Created wheel for pickle-mixin: filename=pickle_mixin-1.0.2-py3-none-any.whl size=6008 sha256=36440ed32807e4ec8f90fe91224719695f0a443f4bbaeb7864adce46ae73d657
  Stored in directory: /home/shivraj/.cache/pip/wheels/3e/c6/e9/d1b0a34e1efc6c3ec9c086623972c6de6317faddb2af0a619c
Successfully built pickle-mixin
Installing collected packages: pickle-mixin
Successfully installed pickle-mixin-1.0.2
Note: you may need to restart the kernel to use updated packages.

In [172]:
import pickle

In [174]:
pickle.dump(pipe,open('LinearRegressionModel.pk1' , 'wb'))

In [176]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift' , 'Maruti' , 2019 , 100 , 'Petrol']] , columns = ['name' , 'company' , 'year' , 'kms_driven' , 'fuel_type']))

array([428104.8759907])